<div class="_2YGAo">
    <div id="kr7wa" class="Ry26q">
        <div class="_3CemL"></div><div class="_3K7uv">
            <div id="Containerkr7wa" class="_1KV2M">
                <div data-mesh-id="Containerkr7wainlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="Containerkr7wainlineContent-gridContainer" data-testid="mesh-container-content">
                        <section id="comp-ihjdb7ay" class="_3d64y">
                            <div id="bgLayers_comp-ihjdb7ay" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-ihjdb7ay" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx">
                                <div id="mediajb0kdfdf13" class="_1vNJf">
                                    <div id="bgLayers_mediajb0kdfdf13" data-hook="bgLayers" class="_3wnIc _7WhTV">
                                        <div data-testid="colorUnderlay" class="_3KzuS _3SQN-">
                                            <img src="/img/aboutus.png" alt="" style="width: 980px; height: 722px; object-position: 50% 100%; object-fit: contain">
                                        </div>

                                    </div><div data-mesh-id="mediajb0kdfdf13inlineContent" data-testid="inline-content" class="_2RKTZ"><div data-mesh-id="mediajb0kdfdf13inlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-ihjl26dd" class="_1Q9if" data-testid="richTextElement"><h2 class="font_2" style="font-size:30px"><span style="text-shadow:#c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px"><span class="color_11"><span style="font-size:30px"><span style="letter-spacing:0.05em">ПРО НАС</span></span></span></span></h2></div></div></div>
                                </div>
                            </div>
                        </section><div id="comp-ihm7q6b1" class="qhwIj ignore-focus" tabindex="-1" role="region" aria-label="Команда">&nbsp;</div><section id="comp-ku7dyll0" class="_3d64y">
                            <div id="bgLayers_comp-ku7dyll0" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-ku7dyll0" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx">
                                <div id="comp-ku7dyloq" class="_1vNJf">
                                    <div id="bgLayers_comp-ku7dyloq" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-ku7dyloq" class="_2GUhU"></div></div><div data-mesh-id="comp-ku7dyloqinlineContent" data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-ku7dyloqinlineContent-gridContainer" data-testid="mesh-container-content">
                                            <div id="comp-ku7dylp3" class="_1Q9if" data-testid="richTextElement"><h2 class="font_2" style="font-size:28px; line-height:1em; text-align:center"><span class="color_20"><span style="text-shadow:#c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px"><span style="font-family:libre baskerville,serif"><span style="font-size:28px"><span style="letter-spacing:0.15em">Про компанію</span></span></span></span></span></h2></div>
                                            <div id="comp-ku7dylp7" class="_1Q9if" data-testid="richTextElement">
                                                <p class="font_8" style="font-size:15px"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif"><span style="font-size:15px">Повне товариство «ГАРАНТ СЕРВІС УКРАЇНА» ТОВ «ДЕЛЮКС ФІНАНС» І КОМПАНІЯ» має статус Гаранта (Незалежного фінансового посередника) і надає фінансові гарантії митним органам України відповідно до &nbsp;Угоди &nbsp;від 13.05.2021р. №11, &nbsp;укладеної між ПТ &nbsp;«Гарант-Сервіс Україна» ТОВ «Фінанс Делюкс» і компанія» та Державною митною службою України. &nbsp;</span></span><span style="font-family:roboto,sans-serif"><span style="font-size:15px">​</span></span></p>

                                                <p class="font_8" style="font-size:15px"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif"><span style="font-size:15px"><span class="wixGuard">​</span></span></span></p>

                                                <ul class="font_8" style="font-family: tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif; font-size: 15px;">
                                                    <li>
                                                        <p class="font_8" style="font-size: 15px;"><span style="font-size:15px;"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Професійна команда надає послуги якісно та оперативно</span></span></p>
                                                    </li>
                                                    <li>
                                                        <p class="font_8" style="font-size: 15px;"><span style="font-size:15px;"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Пропонуємо гнучку тарифну політику</span></span></p>
                                                    </li>
                                                    <li>
                                                        <p class="font_8" style="font-size: 15px;"><span style="font-size:15px;"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Маємо представництва в усіх пунктах пропуску на кордоні та у внутрішніх митницях</span></span></p>
                                                    </li>
                                                    <li>
                                                        <p class="font_8" style="font-size: 15px;"><span style="font-size:15px;"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Немає обмежень в сумі митних платежів</span></span></p>
                                                    </li>
                                                    <li>
                                                        <p class="font_8" style="font-size: 15px;"><span style="font-size:15px;"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Не потребує внесення застави &nbsp;</span></span></p>
                                                    </li>
                                                    <li>
                                                        <p class="font_8" style="font-size: 15px;"><span style="font-size:15px;"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Видаємо гарантію у вигляді документа в електронній або паперовій формі митному органу України для забезпечення сплати митних платежів</span></span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="comp-kvwj063q" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-kvwj063q" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-kvwj063q&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:740,&quot;height&quot;:740,&quot;uri&quot;:&quot;401dbd_a4b727ac90f940fcb8a5dfd9f84ce71d~mv2.png&quot;,&quot;name&quot;:&quot;logo.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="~/img/logo.png"><img src="~/img/logo.png" alt="logo.png" style="width: 345px; height: 341px; object-fit: cover; object-position: 50% 50%;"></wix-image></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section><section id="comp-kvv0f6ya" class="_3d64y">
                            <div id="bgLayers_comp-kvv0f6ya" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-kvv0f6ya" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx">
                                <div id="comp-kvv0f72f" class="_1vNJf"><div id="bgLayers_comp-kvv0f72f" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-kvv0f72f" class="_2GUhU"><wix-image id="img_comp-kvv0f72f" class="_1-6YJ _3SQN- _2L00W _1Q5R5 bgImage" data-image-info="{&quot;containerId&quot;:&quot;comp-kvv0f72f&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:1980,&quot;height&quot;:1320,&quot;uri&quot;:&quot;401dbd_22f12fe07d1d4775b2500ffa9f65ea37~mv2.jpg&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="~/img/form.jpg"><img src="~/img/form.jpg" alt="filling-financial-form-RG34FAQ-min.jpg" style="width: 490px; height: 464px; object-fit: cover; object-position: 50% 50%;"></wix-image></div></div><div data-mesh-id="comp-kvv0f72finlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-kvv0f72finlineContent-gridContainer" data-testid="mesh-container-content"></div></div></div>
                                <div id="comp-kvv0gp7f" class="_1vNJf">
                                    <div id="bgLayers_comp-kvv0gp7f" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-kvv0gp7f" class="_2GUhU"></div></div><div data-mesh-id="comp-kvv0gp7finlineContent" data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-kvv0gp7finlineContent-gridContainer" data-testid="mesh-container-content">
                                            <div id="comp-kvv0mvwm" class="_1Q9if" data-testid="richTextElement"><h1 class="font_0" style="font-size:26px"><span style="text-shadow:#c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;"><span class="color_20"><span style="font-family:libre baskerville,serif"><span style="font-weight:bold">Фінансова гарантія</span></span></span></span></h1></div><div id="comp-kvv0vc77" class="">
                                                <div data-testid="svgRoot-comp-kvv0vc77" class="_3bLYT _2OIRR">
                                                    <svg preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" aria-labelledby="svgcid--wvnhmy-bbp4mr">
                                                        <title id="svgcid--wvnhmy-bbp4mr"></title>
                                                        <g>
                                                            <path d="M162.848 108.274L180 78.564l-29.709-17.153-8.88-33.138-33.138 8.88L78.565 20 61.411 49.709l-33.138 8.88 8.88 33.137L20 121.436l29.71 17.153 8.88 33.137 33.137-8.88L121.438 180l17.153-29.71 33.138-8.88-8.881-33.136z"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div><div id="comp-kvv0wl0w" class="_1Q9if" data-testid="richTextElement"><p class="font_2" style="font-size:15px; line-height:1.3em"><span style="font-size:15px"><span style="font-weight:normal"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif"><span class="color_15"><span style="letter-spacing:0em">це зручний та вигідний спосіб забезпечення сплати митних платежів. Фінансова гарантія видається у вигляді документа і не передбачає внесення коштів на відповідний рахунок або в касу митного органу та дозволяє не вилучати кошти з обороту.</span></span></span></span></span></p></div><div id="comp-kw0mj037" class="">
                                                <div data-testid="svgRoot-comp-kw0mj037" class="_3bLYT _2OIRR">
                                                    <svg preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" aria-labelledby="svgcid--lene9kfts7y9">
                                                        <title id="svgcid--lene9kfts7y9"></title>
                                                        <g>
                                                            <path d="M162.848 108.274L180 78.564l-29.709-17.153-8.88-33.138-33.138 8.88L78.565 20 61.411 49.709l-33.138 8.88 8.88 33.137L20 121.436l29.71 17.153 8.88 33.137 33.137-8.88L121.438 180l17.153-29.71 33.138-8.88-8.881-33.136z"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div><div id="comp-kvv0xyon" class="_1Q9if" data-testid="richTextElement">
                                                <p class="font_8" style="font-size:15px"><span style="font-size:15px"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif">на сьогоднішній день оформлення фінансової гарантії, її подання в митні органи та обмін інформацією з митними органами здійснюється гарантом виключно в електронній формі. Процес видачі гарантії займає 3-5 хвилин не залежно від виду транспорту, вартості товарів та суми митних платежів. Додаткову інформацію можна отримати за телефоном:&nbsp;<span style="text-decoration:underline">+38 (067) 000-28-11&nbsp;</span>(в режимі 24/7).</span></span></p>

                                                <p class="font_8" style="font-size:15px"><span style="font-size:15px"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif">Гарантія друкується тільки у тому випадку, коли за бажанням клієнта, видається у вигляді документа в паперовій формі.</span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                                  <section id="comp-kvv12eba" class="_3d64y">
                                      <div id="bgLayers_comp-kvv12eba" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-kvv12eba" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx">
                                          <div id="comp-kvv12edv" class="_1vNJf">
                                              <div id="bgLayers_comp-kvv12edv" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-kvv12edv" class="_2GUhU"></div></div><div data-mesh-id="comp-kvv12edvinlineContent" data-testid="inline-content" class="">
                                                  <div data-mesh-id="comp-kvv12edvinlineContent-gridContainer" data-testid="mesh-container-content">
                                                      <div id="comp-kvv2nca3" class="_1KV2M">
                                                          <div data-mesh-id="comp-kvv2nca3inlineContent" data-testid="inline-content" class="">
                                                              <div data-mesh-id="comp-kvv2nca3inlineContent-gridContainer" data-testid="mesh-container-content">
                                                                  <div id="comp-kvv1bpba" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-kvv1bpba" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-kvv1bpba&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:512,&quot;height&quot;:512,&quot;uri&quot;:&quot;401dbd_c89762a6ebfe45edbe3e8ae06ac3e7d3~mv2.png&quot;,&quot;name&quot;:&quot;2263107.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="~/img/2263107.png"><img src="~/img/2263107.png" alt="2263107.png" style="width:59px;height:58px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-kvv2e6ki" class="_1Q9if" data-testid="richTextElement">
                                                                      <ol class="font_8" style="font-family:tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif;font-size:14px">
                                                                          <li>
                                                                              <p class="font_8" style="font-size:14px"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Направити перелік реєстраційних документів вашої компанії та банківських реквізитів на е-mail: <a data-auto-recognition="true" href="mailto:gp.garant.docs@ukr.net">gp.garant.docs@ukr.net</a>​</span></p>
                                                                          </li>
                                                                      </ol>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div><div id="comp-kvv14c4r" class="_1Q9if" data-testid="richTextElement"><h1 class="font_0" style="text-align:center;font-size:26px"><span style="text-shadow:#c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px"><span class="color_20"><span style="font-family:libre baskerville,serif"><span style="font-weight:bold">Для отримання фінансової&nbsp; &nbsp; гарантії потрібно</span></span></span></span></h1></div><div id="comp-kvv2neb6" class="_1KV2M"><div data-mesh-id="comp-kvv2neb6inlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-kvv2neb6inlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-kvv237il" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-kvv237il" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-kvv237il&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:48,&quot;height&quot;:48,&quot;uri&quot;:&quot;401dbd_15fd472013594be298345e3552bf58d7~mv2.png&quot;,&quot;name&quot;:&quot;clipboard_paste.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="~/img/clipboard_paste.png"><img src="~/img/clipboard_paste.png" alt="clipboard_paste.png" style="width:50px;height:48px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-kvv2f8l0" class="_1Q9if" data-testid="richTextElement"><p class="font_8" style="font-size:14px"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">2. Підписати договір та направити скан-копію на електронну адресу : <a data-auto-recognition="true" href="mailto:gp.garant.docs@gmail.com">gp.garant.docs@gmail.com</a>​</span></p></div></div></div></div><div id="comp-kvv2ng7v" class="_1KV2M"><div data-mesh-id="comp-kvv2ng7vinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-kvv2ng7vinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-kvv25kiq" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-kvv25kiq" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-kvv25kiq&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:48,&quot;height&quot;:48,&quot;uri&quot;:&quot;401dbd_d3c3b02f2ac8449a8eec81d7dc381b50~mv2.png&quot;,&quot;name&quot;:&quot;document_text.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="~/img/document_text.png"><img src="~/img/document_text.png" alt="document_text.png" style="width:48px;height:48px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-kvv2ghcy" class="_1Q9if" data-testid="richTextElement"><p class="font_8" style="font-size:14px"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">3. Відправити Заявку на оформлення гарантії та пакет товаросупровідних документів​ на e-mail: &nbsp;<a data-auto-recognition="true" href="mailto:gp.garant.su@ukr.net">gp.garant.su@ukr.net</a></span></p></div></div></div></div><div id="comp-kvv2n83f" class="_1KV2M"><div data-mesh-id="comp-kvv2n83finlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-kvv2n83finlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-kvv26u4o" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-kvv26u4o" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-kvv26u4o&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:100,&quot;height&quot;:100,&quot;uri&quot;:&quot;401dbd_a06bfbe0a45644fe825840748644cecd~mv2.png&quot;,&quot;name&quot;:&quot;pngegg.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="~/img/money.png"><img src="~/img/money.png" alt="pngegg.png" style="width:50px;height:49px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-kvv2hkgh" class="_1Q9if" data-testid="richTextElement"><p class="font_8" style="font-size:14px"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">4. Оплатити послуги​</span></p></div></div></div></div><div id="comp-kxnsrx70" class="_1KV2M">
                                                          <div data-mesh-id="comp-kxnsrx70inlineContent" data-testid="inline-content" class="">
                                                              <div data-mesh-id="comp-kxnsrx70inlineContent-gridContainer" data-testid="mesh-container-content">
                                                                  <div id="comp-kvv2a8f9" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-kvv2a8f9" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-kvv2a8f9&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:48,&quot;height&quot;:48,&quot;uri&quot;:&quot;401dbd_77eb6e468c3f455a90aecc901808a542~mv2.png&quot;,&quot;name&quot;:&quot;mail_sealed.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="~/img/email.png"><img src="~/img/email.png" alt="mail_sealed.png" style="width:45px;height:43px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-kvv2i0so" class="_2Hij5" data-testid="richTextElement">
                                                                      <p class="font_8" style="line-height:normal;font-size:14px"><span style="letter-spacing:normal"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif">5.&nbsp; &nbsp; &nbsp; &nbsp;Отримати</span></span></p>

                                                                      <p class="font_8" style="line-height:normal;font-size:14px"><span style="letter-spacing:normal"><span style="font-family:tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif">гарантійний документ ​&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span></p>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div><div id="comp-kxnn8ivn">
                                                          <a  href="#formModal" data-toggle="modal" class="StylableButton1881452515__root style-kxnu6cxl__root StylableButton1881452515__link" aria-label="Укласти договір">
                                                              <div class="StylableButton1881452515__container">
                                                                  <span class="StylableButton1881452515__label" data-testid="stylablebutton-label">Укласти договір</span><span class="StylableButton1881452515__icon" aria-hidden="true" data-testid="stylablebutton-icon">
                                                                      <div>
                                                                          <!--?xml version="1.0" encoding="UTF-8"?-->
                                                                          <svg data-bbox="43 29.501 114 140.999" viewBox="0 0 200 200" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape">
                                                                              <g>
                                                                                  <path d="M156.92 72.609c-.03-.148-.084-.286-.13-.428-.034-.106-.056-.216-.099-.319-.062-.148-.146-.284-.225-.423-.049-.087-.087-.18-.143-.264-.102-.152-.225-.288-.347-.424-.05-.056-.089-.121-.142-.174l-39.75-39.9-.004-.003a4.034 4.034 0 0 0-.602-.495c-.05-.034-.107-.055-.159-.086a3.89 3.89 0 0 0-.529-.283c-.073-.03-.151-.044-.225-.07-.171-.06-.341-.123-.523-.159a3.948 3.948 0 0 0-.792-.08h-53C50.738 29.5 43 37.261 43 46.8v106.4c0 9.539 7.738 17.3 17.25 17.3h79.5c9.512 0 17.25-7.761 17.25-17.3V73.4a4.02 4.02 0 0 0-.08-.791zm-39.67-29.426L143.369 69.4H117.25V43.183zm22.5 119.317h-79.5c-5.101 0-9.25-4.172-9.25-9.3V46.8c0-5.128 4.149-9.3 9.25-9.3h49v35.9a4 4 0 0 0 4 4H149v75.8c0 5.128-4.149 9.3-9.25 9.3zm-9.25-55.85a4 4 0 0 1-4 4h-53a4 4 0 0 1 0-8h53a4 4 0 0 1 4 4zm0 26.6a4 4 0 0 1-4 4h-53a4 4 0 0 1 0-8h53a4 4 0 0 1 4 4zm-61-53.2a4 4 0 0 1 4-4h13.25a4 4 0 0 1 0 8H73.5a4 4 0 0 1-4-4z"></path>
                                                                              </g>
                                                                          </svg>
                                                                      </div>
                                                                  </span>
                                                              </div>
                                                          </a>
                                                      </div><div id="comp-kxnnds1q">
                                                          <a data-testid="linkElement" href="/request" target="_self" class="StylableButton1881452515__root style-kxnu5hom__root StylableButton1881452515__link" aria-label="Надати заявку">
                                                              <div class="StylableButton1881452515__container">
                                                                  <span class="StylableButton1881452515__label" data-testid="stylablebutton-label">Надати заявку</span><span class="StylableButton1881452515__icon" aria-hidden="true" data-testid="stylablebutton-icon">
                                                                      <div>
                                                                          <!--?xml version="1.0" encoding="UTF-8"?-->
                                                                          <svg data-bbox="36.5 19.998 127 160.002" viewBox="0 0 200 200" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape">
                                                                              <g>
                                                                                  <path d="M161.508 65.595l-41.471-43.377a7.174 7.174 0 0 0-6.573-2.085H52.05c-8.575 0-15.55 7.02-15.55 15.648v128.572C36.5 172.98 43.475 180 52.05 180h95.814c8.573 0 15.549-7.02 15.549-15.648V71.746c.332-2.165-.28-4.451-1.905-6.151zm-15.135 5.13h-23.775c-4.068 0-7.377-3.33-7.377-7.423V38.141l31.152 32.584zm2.598 93.627c0 .614-.497 1.114-1.107 1.114H52.05c-.611 0-1.108-.5-1.108-1.114V35.781c0-.614.497-1.115 1.108-1.115h48.729v28.636c0 12.106 9.787 21.956 21.818 21.956h26.374v79.094z"></path>
                                                                              </g>
                                                                          </svg>
                                                                      </div>
                                                                  </span>
                                                              </div>
                                                          </a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="formModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <form name="dogovor" id="dogovor">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-label" for="pib">ПІБ*:</label>
                        <input type="text" required class="form-control" name="pib" id="pib" />
                    </div>

                </div>
                <div class="form-group">
                    <label class="form-label" for="nameOfCompany">Назва компанії*:</label>
                    <input type="text" class="form-control" id="nameOfCompany" name="nameOfCompany" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="cod">код ЄДРПОУ:</label>
                    <input type="text" class="form-control" id="cod" name="cod">
                </div>
                <div class="form-group">

                    <label for="mobile">Телефон*:</label>
                    <input type="text" required class="form-control" id="mobile" name="mobile">
                </div>

                <div class="form-group">

                    <label for="mobile">Ваш e-mail *:</label>
                    <input type="email" required class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="your-message" class="form-label">Коментар:</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" style="background-color: #007bff" class="btn btn-primary">Надіслати</button>
            </form>
        </div>
    </div>
</div>
@{ViewBag.Message = "Ваше запит на договір був успішно надісланий.";}
@Html.Partial("SuccessView.cshtml")
@Html.Partial("ErrorView.cshtml")
<script>
    function removeGood() {
        $('#myModal').modal('toggle');
    }

    function removeBad() {
        $('#bad').modal('toggle');
    }
    $(function () {
        $("form[name='dogovor']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                name: "required",
                email: {
                    required: true,
                    // Specify that email should be validated
                    // by the built-in "email" rule
                    email: true
                },
                question: {
                    required: true,
                    minlength: 5
                }
            },
            // Specify validation error messages
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {

                $.post('/dogovor', $('form').serialize(), function () {
                }).done(function () {
                    $("#dogovor")[0].reset();
                    $('#myModal').modal('toggle');
                    $('#formModal').modal('toggle');


                }).fail(function () {
                    $('#bad').modal('toggle');
                });
            }
        });
    });
</script>