<div class="_2YGAo">
    <div id="cphez" class="Ry26q">
        <div class="_3CemL"></div><div class="_3K7uv">
            <div id="Containercphez" class="_1KV2M">
                <div data-mesh-id="ContainercphezinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="ContainercphezinlineContent-gridContainer" data-testid="mesh-container-content">
                        <section id="comp-ihjdcer9" class="_3d64y"><div id="bgLayers_comp-ihjdcer9" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-ihjdcer9" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx"><div id="mediajb0kdfdq1" class="_1vNJf"><div id="bgLayers_mediajb0kdfdq1" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_mediajb0kdfdq1" class="_2GUhU"><wix-image id="img_mediajb0kdfdq1" class="_1-6YJ _3SQN- _2L00W _1Q5R5 bgImage" data-image-info="{&quot;containerId&quot;:&quot;mediajb0kdfdq1&quot;,&quot;alignType&quot;:&quot;bottom&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:2823,&quot;height&quot;:1771,&quot;uri&quot;:&quot;6cb9d67272394ac18a9856724ffaa614.jpg&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="~/img/contactus.png"><img src="~/img/contactus.png" alt="" style="width: 980px; height: 193px; object-fit: cover; object-position: 50% 100%;"></wix-image></div></div><div data-mesh-id="mediajb0kdfdq1inlineContent" data-testid="inline-content" class=""><div data-mesh-id="mediajb0kdfdq1inlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-ihjl2rkh" class="_1Q9if" data-testid="richTextElement"><h2 class="font_2" style="font-size:30px"><span style="text-shadow:#c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;"><span style="letter-spacing:0.05em"><span class="color_11">КОНТАКТИ</span></span></span></h2></div></div></div></div></div></section><div id="comp-ihjdx2dx" class="_1Q9if" data-testid="richTextElement">
                            <h6 class="font_6" style="text-align:center;font-size:20px">
                                <span class="color_20">
                                    <span style="text-shadow:#c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px">
                                        <span style="font-weight:bold">
                                            ПТ «ГАРАНТ СЕРВІС УКРАЇНА»<br>
                                            ТОВ «ДЕЛЮКС ФІНАНС» І<br>
                                            КОМПАНІЯ
                                        </span>
                                    </span>
                                </span>
                            </h6>
                        </div>
                        <div id="comp-kac0wjgl" class="_11gHK">
                            <div data-mesh-id="comp-kac0wjglinlineContent" data-testid="inline-content" class="">
                                <div data-mesh-id="comp-kac0wjglinlineContent-gridContainer" data-testid="mesh-container-content">
                                    <form name="ccc" id="comp-kac0wjhv" class="yBJuM">
                                        <div data-mesh-id="comp-kac0wjhvinlineContent" data-testid="inline-content" class="">
                                            <div data-mesh-id="comp-kac0wjhvinlineContent-gridContainer" data-testid="mesh-container-content">
                                                <div id="comp-kac0wjif" class="_2dBhC">
                                                    <div class="">
                                                        <input name="name" id="input_comp-kac0wjif" class="_1SOvY has-custom-focus" type="text" placeholder="Імя " maxlength="100" aria-label="Імя " value="">
                                                    </div>
                                                </div>
                                                <div id="comp-kac0wjin" class="_2dBhC _65cjg">
                                                    <div class="">
                                                        <input name="email" id="input_comp-kac0wjin" class="_1SOvY has-custom-focus" type="email" placeholder="Електронна адреса" required="" pattern="^.+@@.+\.[a-zA-Z]{2,63}$" maxlength="250" aria-label="Електронна адреса" value="">
                                                    </div>
                                                </div><div id="comp-kac0wjip" class="_2dBhC">
                                                    <div class="">
                                                        <input name="phone" id="input_comp-kac0wjip" class="_1SOvY has-custom-focus" type="tel" placeholder="Телефон" maxlength="50" required aria-label="Телефон" value="">
                                                    </div>
                                                </div>
                                                <div id="comp-kac0wjir" class="bItEI">
                                                    <label for="textarea_comp-kac0wjir" class="_20uhs"></label>
                                                    <textarea id="textarea_comp-kac0wjir" name="question" class="_1VWbH has-custom-focus" placeholder="Задайте запитання">
                                                                                                                                        </textarea>
                                                </div>
                                                <div id="comp-kac0wjiw3" aria-disabled="false" class="_2UgQw">
                                                    <button aria-disabled="false" type="submit" data-testid="buttonElement" id="contact" class="_1fbEI">
                                                        <span class="_1Qjd7">Отправить</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    form .error {
        color: #ff0000;
    }
</style>

@{ViewBag.Message = "Ваше питтаня було надіслано.";}
@Html.Partial("SuccessView.cshtml")
@Html.Partial("ErrorView.cshtml")

<script>
    function removeGood() {
        $('#myModal').modal('toggle');
    }

    function removeBad() {
        $('#bad').modal('toggle');
    }
    $(function () {
        $("form[name='ccc']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                name: "required",
                email: {
                    required: true,
                    // Specify that email should be validated
                    // by the built-in "email" rule
                    email: true
                },
                question: {
                    required: true,
                    minlength: 5
                }
            },
            // Specify validation error messages
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                
                $.post('/askquestion', $('form').serialize(), function () {
                }).done(function () {
                    $("#comp-kac0wjhv")[0].reset();
                    $('#myModal').modal('toggle');


                }).fail(function () {
                    $('#bad').modal('toggle');
                });
            }
        });
    });
</script>