<div id="bad" class="modal fade">
    <div class="modal-dialog modal-confirm bad">
        <div class="modal-content bad">
            <div class="modal-header bad justify-content-center" style=" background: #c94747">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <button type="button" class="close" onclick="removeBad()" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Упс!</h4>
                <p>Щось пішло не так.</p>
                <button class="btn btn-success" onclick="removeBad()" data-dismiss="modal">Попробуйте знову</button>
            </div>
        </div>
    </div>
</div>