<style>
    label {
        font-weight: 700;
    }
</style>

<div class="_2YGAo">
    <div id="fvpfq" class="Ry26q">
        <div class="_3CemL">
        </div>
        <div class="_3K7uv">
            <div id="Containerfvpfq" class="_1KV2M">
                <div data-mesh-id="ContainerfvpfqinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="ContainerfvpfqinlineContent-gridContainer" data-testid="mesh-container-content">
                        <section id="comp-kst2pqjj" class="_3d64y">
                            <div id="bgLayers_comp-kst2pqjj" data-hook="bgLayers" class="_3wnIc">
                                <div data-testid="colorUnderlay" class="_3KzuS _3SQN-">
                                </div><div id="bgMedia_comp-kst2pqjj" class="_2GUhU">
                                </div>
                            </div><div data-testid="columns" class="_1uldx">
                                <div id="comp-kst2pqkj" class="_1vNJf">
                                    <div id="bgLayers_comp-kst2pqkj" data-hook="bgLayers" class="_3wnIc">
                                        <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                                        <div id="bgMedia_comp-kst2pqkj" class="_2GUhU"></div>
                                    </div>
                                    <div data-mesh-id="comp-kst2pqkjinlineContent" data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-kst2pqkjinlineContent-gridContainer" data-testid="mesh-container-content">
                                            <div id="comp-kvv4hfl0" class="_1Q9if" data-testid="richTextElement">
                                                <h3 class="font_3" style="font-size: 56px;">
                                                    <span style="font-size:56px;">Заявка</span>
                                                </h3>
                                            </div><div id="comp-kvv4j9be" class="_1Q9if" data-testid="richTextElement">
                                                <h1 class="font_0" style="font-size:26px">на оформлення фінансової гарантії</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section><section id="comp-kst2ybzb" class="_3d64y">
                            <div id="bgLayers_comp-kst2ybzb" data-hook="bgLayers" class="_3wnIc">
                                <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                                <div id="bgMedia_comp-kst2ybzb" class="_2GUhU"></div>
                            </div><div data-testid="columns" class="_1uldx">
                                <div id="comp-kst2yc0f" class="_1vNJf">
                                    <div id="bgLayers_comp-kst2yc0f" data-hook="bgLayers" class="_3wnIc">
                                        <div data-testid="colorUnderlay" class="_3KzuS _3SQN-">
                                        </div><div id="bgMedia_comp-kst2yc0f" class="_2GUhU"></div>
                                    </div>
                                    <div data-mesh-id="comp-kst2yc0finlineContent" data-testid="inline-content" class="">
                                        <div data-mesh-id="comp-kst2yc0finlineContent-gridContainer" data-testid="mesh-container-content"></div>
                                    </div>
                                </div>
                            </div>
                        </section><div id="comp-kvv3vcpk" class="FFg4y">

                            <div class="_1WP0F" style="background-color:white">

                                <div class="inner">
                                    <form method="post" id="zzz" class="bottom-offset30">
                                        <span class="form-text"></span>


                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group clearfix bottom-offset30">
                                                    <div class="col-sm-6 row-nop">
                                                        <label class="form-label ">Заявка</label>
                                                        <div class="col-sm-8"><input class="form-control" type="text" name="zayavkaN" id="zayavkaN" value=""></div>
                                                    </div>
                                                    <div class="col-sm-6 row-nop">
                                                        <label class="form-label ">до Договору</label>
                                                        <div class="col-sm-8"><input class="form-control" type="text" name="dogovorN" id="dogovorN" value=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group clearfix bottom-offset30">
                                                    <div class="form-group clearfix col-sm-6 row-nop">
                                                        <label class="form-label ">Тип транспорту</label>
                                                        <div class="col-sm-8"><input class="form-control" type="text" name="transtype" id="transtype" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix col-sm-6 row-nop">
                                                        <label class="form-label ">Митний режим</label>
                                                        <div class="col-sm-8"><input class="form-control" type="text" name="rejim" id="rejim" value=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="">
                                                    <h2 class="custom"><span>Особа, що уклала договір на надання фінансової гарантії</span></h2>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-3">Повна назва</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="otprfirm" id="otprfirm" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-4">Юр. адреса, т./ф., E-Mail</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="otpraddr" id="otpraddr" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-3">Керівник, П.І.Б.</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="otprboss" id="otprboss" value=""></div>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <h2 class="custom"><span>Інформація про вантаж</span></h2>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-3">Назва вантажу</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="gruzname" id="gruzname" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-3">Код УКТЗЕД</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="uktved" id="uktved" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-6">Кількість вантажу по кожному товару</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="kol" id="kol" value=""></div>
                                                    </div>

                                                    <div class="form-group clearfix">


                                                        <div class="form-group clearfix">
                                                            <label class="form-label col-sm-5">Фактурная вартість всього товару з урахуванням в-ті. трансп. витрат (вказати валюту)</label>
                                                            <div class="col-sm-9"><input class="form-control" type="text" name="faktvaltr" id="faktvaltr" value=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="">
                                                    <h2 class="custom"><span>Інформація про перевізника та транспортний засіб</span></h2>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-4">Найменування перевізника</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="perevname" id="perevname" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-4">Юр. адреса, т./ф.,E-Mail</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="perevaddr" id="perevaddr" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-6">Водій, П.І.Б. (Паспортні данні)</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="perevboss" id="perevboss" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix  row">

                                                        <div class="col-sm-4">
                                                            <label class="form-label">№ вагону/автомобіля</label>
                                                            <input class="form-control" type="text" name="perevnum" id="perevnum" value="">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="form-label">№ контейнеру</label>
                                                            <input class="form-control" type="text" name="perevkont" id="perevkont" value="">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="form-label">CMR, TIR</label>
                                                            <input class="form-control" type="text id="cmr" name="cmr" value="">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="" style="margin-top: 10px;">
                                                    <h2 class="custom"><span>Обраний маршрут переміщення</span></h2>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-3">Пункт відправлення (вказати код та найменування)</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="start" id="start" value=""></div>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-3">Пункт призначення (вказати код та найменування)</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="end" id="end" value=""></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="">
                                                    <h2 class="custom"><span>Одержувач вантажу</span></h2>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-6">Найменування юридичної особи/фізичної особи –підприємця</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="receivervantagzh" id="otprfirm" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-4">Юридична адреса</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="receiveraddress" id="otpraddr" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-3">Код ЄДРПОУ</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="edrpocod" id="otprboss" value=""></div>
                                                    </div>
                                                </div>
                                               


                                            </div>
                                            <div class="col">
                                               
                                                <div class="" style="margin-top: 10px;">
                                                    <h2 class="custom"><span>Сума митного боргу</span></h2>
                                                    <div class="form-group clearfix">
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="dolg" id="dolg" value=""></div>
                                                    </div>
                                                </div>

                                                <div class="" style="margin-top: 10px;">
                                                    <h2 class="custom"><span>Особа, що заповнила заявку</span></h2>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-3">П.І.Б.</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="fio" id="fio" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-3">Контактний тел.</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="tel" id="tel" value=""></div>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                        <label class="form-label col-sm-4">Додаткова інформація</label>
                                                        <div class="col-sm-9"><input class="form-control" type="text" name="more" id="more" value=""></div>
                                                    </div>
                                                </div>

                                            </div>
     
                                            <div class="" style="text-align:center; margin-bottom:30px">
                                                <input id="submit" type="submit" class="btn btn-primary btn-lg col-sm-6" value="Надіслати">
                                            </div>


                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(function () {
        $('#submit').on('click', function (evt) {
            evt.preventDefault();
            $.post('/request', $('form').serialize(), function () {
            }).done(function (res) {
                $("#zzz")[0].reset();
                $('#myModal').modal('toggle');


            }).fail(function (xhr, status, error) {
                $('#bad').modal('toggle');
            });

        });
    });
    function removeGood() {
        $('#myModal').modal('toggle');
    }

    function removeBad() {
        $('#bad').modal('toggle');
    }
</script>

@{ViewBag.Message = "Заявка успішно надіслана";}
@Html.Partial("SuccessView.cshtml")

@Html.Partial("ErrorView.cshtml")   